<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="clientes" routerLinkActive="active">Clientes</a>
        </li>
      </ul>
      <ul class="navbar-nav" dropdown>
        <li class="nav-item dropdown">
          <a id="button-basic" dropdownToggle class="nav-link dropdown-toggle" style="cursor: pointer" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="#">Sobre</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>