<div class="jumbotron">
  <h1 class="display-4">Cadastro de Clientes CRMALL!</h1>
  <hr class="my-4">
  <p>O desenvolvimento desse teste foi sem sombra de dúvidas um grande aprendizado. Agradeço a oportunidade!</p>
</div>
<div class="container">
  <h3>Tecnologias e Frameworks utilizados:</h3>
  <ul class="list-group list-group-horizontal-lg">
    <li class="list-group-item"><img src="../../assets/img/angular.svg" alt="Angular logo" width="150" height="150"></li>
    <li class="list-group-item"><img src="../../assets/img/Bootstrap_logo.svg" alt="Bootstrap logo" width="150" height="150"></li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
  </ul>
</div>