<div class="row">
  <div [ngClass]="{'col-sm-6': clienteSelecionado, 'col-sm-12': !clienteSelecionado}">
    <div class="row">
      <div class="mr-auto">
        <app-titulo [titulo]="titulo" ></app-titulo>
      </div>
      <div>
        <button (click)="openModal(template)" type="button" class="btn btn-success">Novo</button>
      </div>
    </div>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col" [hidden]="clienteSelecionado">Ações</th>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Dt. de Nascimento</th>
          <th scope="col">Sexo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
        <td [hidden]="clienteSelecionado" class="button-group">
          <button (click)="selecionarCliente(cliente)" class="btn btn-action btn-sm btn-primary">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-in-up-right" fill="white" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z"/>
              <path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z"/>
            </svg>
          </button>
          <button (click)="editarCliente(cliente)" class="btn btn-action btn-sm btn-warning">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="white" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
            </svg>
          </button>
          <button (click)="removerCliente(cliente.clienteId)" class="btn btn-action btn-sm btn-danger">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="white" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
            </svg>
          </button>
        </td>
        <th scope="row">{{cliente.clienteId}}</th>
          <td>{{cliente.nome}}</td>
          <td>{{cliente.dataNascimento | date: "dd/MM/yyyy"}}</td>
          <td>{{cliente.sexo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-6" *ngIf="clienteSelecionado">
    <div class="row">
      <div class="mr-auto">
        <app-titulo [titulo]="'Cód. Cliente: #' + clienteSelecionado.clienteId"></app-titulo>
      </div>
      <div>
        <button class="btn btn-outline-danger" (click)="voltar()">Fechar</button>
      </div>
    </div>
    <br>
    <div class="row button-group container" [hidden]="clienteEmEdicao">
      <button type="menu" (click)="editarCliente(clienteForm.value)" class="btn btn-sm btn-warning text-light"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="white" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
      </svg> Editar</button>
      <button (click)="removerCliente(clienteSelecionado.clienteId)" type="menu" class="btn btn-sm btn-danger text-light"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="white" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
      </svg> Remover</button>
    </div>
    <form [formGroup]="clienteForm">
      <div class="form-group">
        <label for="nome">Nome <i style="color: red;">*</i></label>
        <input type="text" class="form-control" formControlName="nome" required >
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label for="dataNascimento">Data de Nascimento <i style="color: red;">*</i></label>
          <input type="date" [(ngModel)]="dataModel" class="form-control" formControlName="dataNascimento" required>
        </div>
        <div class="form-group col-sm-6">
          <label for="sexo">Sexo <i style="color: red;">*</i></label>
          <select name="sexo" formControlName="sexo" class="form-control">
            <option value="">Selecione...</option>
            <option value="Masculino">Masculino</option>
            <option value="Feminino">Feminino</option>
            <option value="Não Binario">Não Binário</option>
          </select>
        </div>
      </div>
      <br>
      <h2>Endereço</h2>
      <div class="row btn-group">
        <div class="form-group col-sm-9">
          <label for="formGroupExampleInput2">CEP</label>
          <input (change)="buscarEndereco(cepModel)" [(ngModel)]="cepModel" max="7" type="text" class="form-control" formControlName="cep"  mask="00000-000">
        </div>
        <div class="form-group col-sm-9">
          <label for="formGroupExampleInput2">Logradouro</label>
          <input type="text" class="form-control" formControlName="logradouro" >
        </div>
        <div class="form-group col-sm-3">
          <label for="formGroupExampleInput2">Nº</label>
          <input type="text" class="form-control" formControlName="numero" >
        </div>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Complemento</label>
        <input type="text" class="form-control" formControlName="complemento" >
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Bairro</label>
        <input type="text" class="form-control" formControlName="bairro" >
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label for="formGroupExampleInput2">UF</label>
          <input type="text" class="form-control" formControlName="uf" >
        </div>
        <div class="form-group col-sm-6">
          <label for="formGroupExampleInput2">Cidade</label>
          <input type="text" class="form-control" formControlName="localidade" >
        </div>
      </div>
      <div class="button-group">
        <button (click)="cancelar()" type="button" class="btn btn-danger" [hidden]="!clienteEmEdicao">Cancelar</button>
        <button type="salvarCliente()" class="btn btn-primary" [disabled]="!clienteForm.valid" [hidden]="!clienteEmEdicao">Salvar</button>
      </div>
    </form>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="clienteForm" (submit)="salvarNovoCliente()">
      <div class="form-group">
        <label for="formGroupExampleInput">Nome <i style="color: red;">*</i></label>
        <input type="text" class="form-control" formControlName="nome" required>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label for="formGroupExampleInput2">Data de Nascimento <i style="color: red;">*</i></label>
          <input type="date" min="1890-12-31" class="form-control" formControlName="dataNascimento" required>
        </div>
        <div class="form-group col-sm-6">
          <label for="formGroupExampleInput2">Sexo <i style="color: red;">*</i></label>
          <select name="sexo" formControlName="sexo" class="form-control">
            <option value="">Selecione...</option>
            <option value="Masculino">Masculino</option>
            <option value="Feminino">Feminino</option>
            <option value="Não Binario">Não Binário</option>
          </select>
        </div>
      </div>
      <br>
      <h2>Endereço</h2>
      <div class="row btn-group">
        <div class="form-group col-sm-9">
          <label for="formGroupExampleInput2">CEP</label>
          <input (change)="buscarEndereco(cepModel)" max="7"  [(ngModel)]="cepModel" type="text" class="form-control" formControlName="cep" mask="00000-000">
        </div>
        <div class="form-group col-sm-9">
          <label for="formGroupExampleInput2">Logradouro</label>
          <input type="text" class="form-control" formControlName="logradouro">
        </div>
        <div class="form-group col-sm-3">
          <label for="formGroupExampleInput2">Nº</label>
          <input type="number" class="form-control" min="1" formControlName="numero">
        </div>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Complemento</label>
        <input type="text" class="form-control" formControlName="complemento">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Bairro</label>
        <input type="text" class="form-control" formControlName="bairro">
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label for="formGroupExampleInput2">UF</label>
          <input type="text" class="form-control" formControlName="uf">
        </div>
        <div class="form-group col-sm-6">
          <label for="formGroupExampleInput2">Cidade</label>
          <input type="text" class="form-control" formControlName="localidade">
        </div>
      </div>
      <div class="button-group">
        <button (click)="cancelar()" type="button" class="btn btn-danger">Cancelar</button>
        <button (click)="salvarNovoCliente()" type="button" class="btn btn-primary" [disabled]="!clienteForm.valid">Salvar</button>
      </div>
    </form>
  </div>
</ng-template>